<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>VP Garden</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootsnav.css">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.html">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.html">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.html">
</head>
<body>
    <div class="loder"></div>
    <div class="wrapper">
        {{> header}}
       
        {{{ body }}}
        
        {{> footer}}
    </div>
    <a id="scrollup">Scroll</a> 
    <script src="/js/jQuery_v3.1.1.min.js"></script> 
    <script src="/js/owl.carousel.min.js"></script> 
    <script src="/js/bootsnav.js"></script> 
    <script src="/js/bootstrap.min.js"></script> 
    <script src="/js/jquery.magnific-popup.js"></script> 
    <script src="/js/jquery.firstVisitPopup.js"></script> 
    <script src="/js/custom.js"></script>
</body>
</html>