<div class="mt-4">
    <div class="row">
        {{#each items}}
        <div class="col-sm-4 mt-4">
            <div class="card">
                <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.desc}}</p>
                    <a href="#" class="btn btn-primary">Xem Chi Tiết</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
