<div class="container">
<footer class="cid-qv5AKiwkDE" id="footer1-3f" data-rv-view="4072">
    <div class="footer-lower">
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2019 Free footer templates - All Rights Reserved
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="social-list align-right">
                        sadfsad
                    </div>
                </div>
            </div>
    </div>
</footer>
</div>
